
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'kolomthota_db',
        'USER': 'kolomthota',
        'PASSWORD': 'kolomthotas',
        'host': 'localhost',
        'PORT': 5432
    }
}