{% extends 'base_navbar.html' %}
{% block extra_js %}
    {{ block.super }}

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  <script>
  $( function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
  </script>
{% endblock extra_js %}
{% block extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">  <style>
  #sortable1 {
    border: 1px solid #eee;
    width: 30%;
      height: 100%;
    min-height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable2 {
       border: 1px solid #eee;
    width: 60%;
      height: 100%;
    min-height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: right;
    margin-right: 10px;
  }
  #sortable1 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
  }
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  </style>

{% endblock %}
  {% block content_main %}

      <ul id="sortable1" class="connectedSortable">
          {% for varrival in vessel_arrivals %}
  <li class="ui-state-default">

      <div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{ varrival.vessel.vessel_name }}</h5>
    <p class="card-text">Arrival: {{ varrival.eta }}, loa: {{ varrival.vessel.vessel_loa }},Shipping Line: {{ varrival.shipping_line }} </p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button>
  </div>
</div>
          </li>
      {% endfor %}


</ul>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 style="text-align:center" class="modal-title" >Vessel Arrival Details</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
             <h4>This option is under development.</h4>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
<ul id="sortable2" class="connectedSortable">

    <li class="centered"><h3>Scheduler Dashboard</h3></li>
</ul>
   {% endblock content_main %}


