{% extends 'base_navbar.html' %}
{% load static %}

{% block content_main %}
<h3>Unread messages</h2>
<br/>    
<table class="table table-hover">
        <thead>
          <tr>
            <th>From</th>
            <th>Message</th>
            <th>Mark as Read</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            {% for obj in messages1 %}
            <td>{{obj.message_author}}</td>
            <td>{{obj.message}}</td>
            <td>
              <a href="/berth-planner/edit_message/{{obj.id}}">click</a>
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

<br/>
<h3>Read messages</h3>
<table class="table table-hover">
        <thead>
          <tr>
            <th>From</th>
            <th>Message</th>
            <th>Mark as Unread</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            {% for obj in messages2 %}
            <td>{{obj.message_author}}</td>
            <td>{{obj.message}}</td>
            <td>
                    <a href="/berth-planner/re_edit_message/{{obj.id}}">click</a>
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content_main %}