{% extends 'vessel_planner/index.html' %}


{% block content_middle %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add Message
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
            Add Vessel In Progress
          </button>

<br/><br/>
      <table class="table table-hover">
            <thead>
              <tr>
                <th>Vessel</th>
                <th>dis</th>
                <th>load</th>
                <th>Update Progress</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <td>{{obj.vessel}}</td>
                <td>{{obj.dis}}</td>
                <td>{{obj.load}}</td>
                <td>
                    <a href="/vessel-planner/edit_details/{{obj.id}}">Update</a>
                </td>
                <td>
                    <a href="/vessel-planner/delete_details/{{obj.id}}">Remove</a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>


      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Message</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                    <form method="POST" action="">
                            {% csrf_token %}
                                  <ul>
                                  <li>{{form.message_author.label_tag}}  {{form.message_author}}</li>
                                  <li>{{form.message.label_tag}}  {{form.message}}</li>
                                  </ul>
          
                                <br/>
                             <button type="submit" class="btn btn-info" value="Save">Submit</button>
                        </form>
            </div>
      
            <!-- Modal footer -->
            
      
          </div>
        </div>
      </div>

      <div class="modal" id="myModal2">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add Vessel In Progress</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                        <form method="POST" action="">
                                {% csrf_token %}
                                      <ul>
                                      <li>{{form_one.vessel.label_tag}}  {{form_one.vessel}}</li>
                                      <li>{{form_one.load.label_tag}}  {{form_one.load}}</li>
                                      <li>{{form_one.dis.label_tag}}  {{form_one.dis}}</li>
                                      </ul>
              
                                    <br/>
                                 <button type="submit" class="btn btn-info" value="Save">Submit</button>
                            </form>
                </div>
          
                <!-- Modal footer -->
                
          
              </div>
            </div>
          </div>
{% endblock content_middle %}