{% extends 'base_navbar.html' %}
{% load static %}
{% block extra_js %}
{{ block.super }}
<script src="{% static " shipping_line/js/vessel_delete.js" %}"></script>
{% endblock extra_js %}

{% block content_main %}
<br />

<div class="row">
    <div class="col-sm-12" style="height:auto;border-left-style: solid;border-right-style: solid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <h1 class="card-title" style="text-align: center">Change Password</h1>
                {% if messages %}
  <ul class="messages">
        <div class="alert alert-danger">
                
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
    </div>
  </ul>
{% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input type="button" class="btn btn-info" onclick="location.href='/profile';" value="Go Back" />

                    <br>
                </form>
            </div>
            <div class="col-sm-3"></div>{% block content_middle %}

            {% endblock content_middle %}


        </div>
    </div>


</div>



{% endblock content_main %}