{% extends 'base_navbar.html' %}
{% load static %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static "shipping_line/js/vessel_delete.js" %}"></script>
{% endblock extra_js %}

  {% block content_main %}
    <br/>

        <div class="row" >
        <div class="col-sm-12" style="height:auto;border-left-style: solid;border-right-style: solid">
            {% block content_middle %}
           <form method="post">
                {% csrf_token %}
               {{ form.as_p}}

               <button type="submit">Submit</button>
            <br>
           </form>
           {% endblock content_middle %}
        
        
        </div>
    </div>
   
   
</div>
 
     

  {% endblock content_main %}