{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "accounts/css/login.css" %}">
{% endblock extra_head %}

{% block extra_js %}
    <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock extra_js %}


{% block content_main %}

<body>
    <div class='content-section'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>                    
</body>
{% endblock content_main %}
