{% extends 'base_navbar.html' %}
{% load static %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static "shipping_line/js/vessel_delete.js" %}"></script>
{% endblock extra_js %}

  {% block content_main %}
    <br/>

        <div class="row" >
        <div class="col-sm-12" style="height:auto;border-left-style: solid;border-right-style: solid">
            {% block content_middle %}
            <h1>Profile</h1>
            <h5>{{user.first_name.label_tag}}</h5>
            <p>{{user.first_name}}</p>
            <br>
            {{user.first_name}}
            {{user.last_name}}
            {{user.username}}
            {{user.email}}
            {{user.password}}
            {% endblock content_middle %}
        </div>
    </div>
   
   
</div>
 
     

  {% endblock content_main %}