{% extends 'base_navbar.html' %}
{% load static %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static "shipping_line/js/vessel_delete.js" %}"></script>
{% endblock extra_js %}

  {% block content_main %}
    <br/>
    <div class="container" style=text-align:center;padding:100px>
            <section class="login-section h-100">
                    <div class="container h-100">
                        <div class="row justify-content-md-center h-100">
                            <div class="card-wrapper">
                                <div class="brand">
                                    <img src="{% static "img/logo.png" %}">
                                </div>
                             
                                                    
                                    
                                
            
                            </div>
                        </div>
                    </div>
                </section>

        <div class="row" >
        <div class="col-sm-12" style="height:auto;border-left-style: solid;border-right-style: solid">
            {% block content_middle %}
            
            <h1>Profile</h1>
            <p>First Name : {{user.first_name}}</p>

            <p>Last Name : {{user.last_name}}</p>
            <p>User Name : {{user.username}}</p>
            <p>E-mail address : {{user.email}}</p>
           


            <input type="button" class="btn btn-outline-info" onclick="location.href='/profile/edit';" value="Edit" />

            {% endblock content_middle %}
            </div>
        </div>
    </div>
   
   
</div>
 
     

  {% endblock content_main %}