{% extends 'base_navbar.html' %}

  {% block content_main %}
  <br>
  <div class="row" >
    <div class="col-sm-12">
        <h3 style="text-align: center">Ship Information Form</h3>
    </div>
 </div>
 <div class="row" >

 <div class="col-sm-2"></div>
 <div class="col-sm-8">
   
        <form method="POST" action="">
            {% csrf_token %}
            
            <ul>
            <li>{{form.vessel_name.label_tag}}  {{form.vessel_name}}</li>
            <li>{{form.shipping_agent.label_tag}}  {{form.shipping_agent}}</li>
            <li>{{form.eta.label_tag}}  {{form.eta}}</li>
            <li>{{form.dis.label_tag}}  {{form.dis}}</li>
            <li>{{form.load.label_tag}}  {{form.load}}</li>
            <li>{{form.total.label_tag}}  {{form.total}}</li>
            <li>{{form.loa_val.label_tag}}  {{form.loa_val}}</li>
            <li>{{form.vessel_status.label_tag}}  {{form.vessel_status}}</li>
            <li>{{form.ref_no.label_tag}}  {{form.ref_no}}</li>
            <li>{{form.draft_arrival.label_tag}}  {{form.draft_arrival}}</li>        
            <li>{{form.draft_departure.label_tag}}  {{form.draft_departure}}</li>
            <li>{{form.remarks.label_tag}}  {{form.remarks}}</li>
            <li>{{form.service.label_tag}}  {{form.service}}</li>   
            <li>{{form.last_port.label_tag}}  {{form.last_port}}</li>
            <li>{{form.next_port.label_tag}}  {{form.next_port}}</li>     
            </ul>
            <button type="submit" class="btn btn-info" value="Save">Submit</button>
            <a class="btn btn-info" role="button" href="{% url "shipping_line:index" %}">Go back</a>
        </form>
    </div>
    <div class="col-sm-2"></div>
   
</div>
     
  {% endblock content_main %}
