{% extends 'base_navbar.html' %}

  {% block content_main %}
    <br/>
    <div class="row" >
        <div class="col-sm-3">
            <h3 style=" text-align: center">Hello shiping agent</h3>
            <a class="btn btn-info" role="button" href="{% url "shipping_line:berthSchedule" %}">
                Go to Berth Schedule
            </a>
            <hr>
            <a class="btn btn-info" role="button" href="{% url "shipping_line:index" %}">
                Go to Home
            </a>
            <br/><br>
            <a class="btn btn-info" role="button" href="{% url "shipping_line:viewHistory" %}">
                Go to History
            </a>
        </div>
        <div class="col-sm-6" style="height:auto;border-left-style: solid;border-right-style: solid">
            {% block content_middle %}
            
            {% endblock content_middle %}
        </div>
        
        <div class="col-sm-3" >
            <div class="jumbotron" >
                <h3 style=" text-align: center">Add a new Ship</h3>
                <a class="btn btn-info" role="button" href="{% url "shipping_line:addVessel" %}">
                    Add Ship
                </a>
            </div>
        </div>
    </div> 
     
 
     

  {% endblock content_main %}

