{% extends 'shipping_line/index.html' %}


{% block content_middle %}
<h1 style=" text-align: center">Vessel Details </h1>
            <ul>
            {% for obj in object_list %}
                <div class="card bg-secondary text-white">
                    <div class="card-header">{{obj.vessel_name}} </div>
                    <div class="card-body">
                        <li>Estimanted time to arrive : {{obj.eta}}</li> 
                        <li>Shipping Agent : {{obj.shipping_agent}}</li>
                        <li>Load : {{obj.loa_val}} containers</li>
                    </div>
                </div>
                
                <br/>
            {% endfor %}
</ul>

{% endblock content_middle %}