{% extends 'shipping_line/index.html' %}

{% load static %}

{% block extra_refresh %} 
<meta http-equiv="refresh" content="300">
{% endblock extra_refresh %}


{% block extra_head %}
{{block.super}}
<link rel="stylesheet" href="{% static " shipping_line/css/notification.css" %}">
{% endblock extra_head %}


{% block content_middle %}
<h1 style=" text-align: center" class="py-5">{{ request.user.sa_account.shipping_line }} vessel submissions </h1>


<a class="btn btn-info my-3" role="button" data-toggle="modal" data-target="#myModal1">
  Add new vessel arrival
</a>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-info" disabled>Vessel</button>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2">

    <i class="fa fa-plus"></i>
  </button>
  <button type="button" class="btn btn-info" onclick="location.href='/shipping-line/vessel-details/';">
    <i class="fa fa-pencil"></i>
  </button>
</div>

<button type="button" class="btn btn-lg btn-info" onclick="location.href='/shipping-line/notification/';">
  <i class="fa fa-bell">
    <span class="batch">{{count}}</span>
  </i>
</button></td>
<button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal3">
  <i class="fa fa-search " ></i>
</button></td>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Shipping Line Agent</th>
      <th>ETA</th>
      <th>dis</th>
      <th>load</th>
      <th>ref_no</th>
      <th>draft_arrival</th>
      <th>draft_diparture</th>
      <th>remarks</th>
      <th>service</th>
      <th>lastport</th>
      <th>nextport</th>
      <th>vessel</th>
      <th>View Details</th>
      <th>Edit Details</th>
      <th>Delete Details</th>

    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %} 
    <td>{{obj.shipping_agent}}</td>
    <td>{{obj.eta}}</td>
    <td>{{obj.dis}}</td>
    <td>{{obj.load}}</td>
    <td>{{obj.ref_no}}</td>
    <td>{{obj.draft_arrival}}</td>
    <td>{{obj.draft_departure}}</td>
    <td>{{obj.remarks}}</td>
    <td>{{obj.service}}</td>
    <td>{{obj.last_port}}</td>
    <td>{{obj.next_port}}</td>
    <td>{{obj.vessel}}</td>
    <td>
      <button type="button" class="btn btn-outline-success" onclick="location.href='/shipping-line/vessel-progress/{{obj.id}}';">{{obj.id}}</button>
    </td>
    
    <td>
      <input type="button" class="btn btn-outline-info" onclick="location.href='/shipping-line/edit_vessels/{{obj.id}}';"
        value="Edit" />
    </td>

    <td>
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal4">Delete</button>
    </td>
    </tr>

    <div class="modal fade" id="myModal4">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 style="text-align:center" class="modal-title">Delete</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h4>Are you sure ?</h4>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='/shipping-line/remove_items/{{obj.id}}';">Yes</button>
            <button type="button" class="btn btn-outline-success" data-dismiss="modal">No</button>
          </div>


        </div>
      </div>
    </div>


    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 style="text-align:center" class="modal-title">Vessel Submission Details</h4>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <h4>{{obj.ref_no}}</h4>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>



    {% endfor %}
  </tbody>
</table>


<div class="modal fade" id="myModal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add new vessel </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" action="">
          {% csrf_token %}



          <ul>
            <li>{{form_one.vessel_name.label_tag}} {{form_one.vessel_name}}</li>
            <li>{{form_one.vessel_status.label_tag}} {{form_one.vessel_status}}</li>
            <li>{{form_one.vessel_loa.label_tag}} {{form_one.vessel_loa}}</li>
            <li style="display: none">{{form_one.author.label_tag}} <input type="text" name="author" id="author"
              value="{{ request.user.id }}"></input></li>
          </ul>

          <br />
          <button type="submit" class="btn btn-info" value="Save">Submit</button>
        </form>


        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New vessel arrival</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" action="">

          {% csrf_token %}


          <li style="display: none">{{form.shipping_agent.label_tag}} <input type="text" name="shipping_agent" id="id_shipping_agent"
              value="{{ request.user.id }}"></input></li>
          <li>{{form.vessel.label_tag}} {{form.vessel}}</li>
          <li>{{form.eta.label_tag}} <input type="text" name='eta' placeholder="2018-09-06 16:02:50"></li>
          <li>{{form.dis.label_tag}} {{form.dis}}</li>
          <li>{{form.load.label_tag}} {{form.load}}</li>
          <li>{{form.ref_no.label_tag}} {{form.ref_no}}</li>
          <li>{{form.draft_arrival.label_tag}} {{form.draft_arrival}}</li>
          <li>{{form.draft_departure.label_tag}} {{form.draft_departure}}</li>
          <li>{{form.remarks.label_tag}} {{form.remarks}}</li>
          <li>{{form.service.label_tag}} {{form.service}}</li>
          <li>{{form.last_port.label_tag}} {{form.last_port}}</li>
          <li>{{form.next_port.label_tag}} {{form.next_port}}</li>

          </ul>

          <br />
          <button type="submit" class="btn btn-info" value="Save">Submit</button>
        </form>


        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal3">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> Search </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="history/" method="GET">
          {% csrf_token %}
          <input type="datetime-local" name="from_date" id="from_date" required>
          <input type="datetime-local" name="to_date" id="to_date" required>
          <input type="submit">
        </form>


      </div>
    </div>
  </div>
</div>




{% endblock content_middle %}