{
  "SERVER_TYPE": "local",
  "SECRET_KEY": "2b0ri6*==$au%71buizn6vg!8e819m(0-=^6(co_-zl)c!x^!r",

  "ALLOWED_HOSTS": [],

  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_PORT": ""

}